.animal-details {
  background: $white;
  border-radius: 4px;
  border-width: 75px 5px 5px;
  box-shadow: 0 1px 1px rgba($white, 0.33) inset;
  box-sizing: border-box;
  font-size: 11px;
  height: 100%;
  left: 0;
  opacity: 1;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  transform: scale(1);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  width: 100%;
  z-index: 1;

  &:focus {
    outline: none;
  }

  &.hidden {
    transform: scale(0.95);
    opacity: 0;
  }

  .image-changer {
    position: relative;

    .images {
      border-bottom: 1px solid $light-grey-bg;
      box-shadow: 0px 1px 1px -1px rgba($white, 0.5);
      overflow: hidden;
      position: relative;

      figure {
        height: 200px;
        margin: 0;
        left: 0;
        position: absolute;
        top: 0;

        &.active {
          position: relative;
          z-index: 1;
        }

        img {
          max-width: 100%;
        }
      }
    }

    .toggles {
      position: absolute;
      right: 20px;
      top: 100%;
      z-index: 1;

      button[name="toggle"] {
        @extend #standard-toggle;
      }
    }
  }

  .image-changer-shortcuts {
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
    overflow: hidden;
  }

  .content {
    height: 135px;
    overflow: auto;

    p.label {
      font-size: 16px;
      margin: 10px 0 -10px;
    }

    button[name="confusion"] {
      @extends #standard-button;
      border-radius: 10px;
      padding: 0 5px;
    }
  }

  .options {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;

    .group {
      border-top: 1px solid $light-grey-bg;
      padding: 5px;

      .title {
        color: $gray;
        display: inline-block;
        width: 6em;

        [data-language="pl_pl"] &,
        [data-language="fi_fi"] & {
          letter-spacing: -1px;
        }
      }

      &.count,
      &.behavior {
        clearfix();

        label {
          cursor: pointer;

          > input {
            opacity: 0.01;
            position: absolute;
          }

          > .label {
            @extend #standard-button;
            @extend .light-grey-btn;
            padding: 2px 5px;
          }

          > input:checked + .label {
            background: $medium-blue;
            color: $white;
          }
        }
      }
    }
  }

  .action {
    bottom: 0;
    font-weight: bold;
    padding: 2px;
    position: absolute;
    right: 0;

    button {
      line-height: 12px;

      &[name="cancel"] {
        @extend #standard-button;
        color: $white;
        background: $red;
      }

      &[name="identify"] {
        @extend #standard-button
        color: $white;
        background: $medium-blue;
        text-transform: uppercase;
      }
    }
  }
}

.confusion-popup {
  clearfix();
  background: $black;
  border: 2px solid $gold;
  border-radius: 5px;
  box-shadow: 0 3px 3px -3px $black;
  color: $white;
  font-size: 11px;
  padding: 15px;
  position: absolute;
  z-index: 1;

  &:after {
    border: 10px solid transparent;
    border-top-color: $gold;
    content: "";
    left: 50%;
    margin-left: -10px;
    position: absolute;
    top: 100%;
  }

  button[name="close"] {
    height: 1em;
    position: absolute;
    right: 0;
    top: 0;
    width: 1em;
  }

  .image {
    margin-right: 10px;
    height: 68px;
    float: left;
    width: 68px;
  }

  &.american-coot .image {
    @extend #thumb-for.american-coot;
  }

  &.beaver .image {
    @extend #thumb-for.beaver;
  }

  &.bike .image {
    @extend #thumb-for.bike;
  }

  &.bird-cannot-id .image {
    @extend #thumb-for.bird-cannot-id;
  }

  &.canada-goose .image {
    @extend #thumb-for.canada-goose;
  }

  &.car .image {
    @extend #thumb-for.car;
  }

  &.cardinal .image {
    @extend #thumb-for.cardinal;
  }

  &.chickadee .image {
    @extend #thumb-for.chickadee;
  }

  &.chipmunk .image {
    @extend #thumb-for.chipmunk;
  }

  &.coyote .image {
    @extend #thumb-for.coyote;
  }

  &.crow .image {
    @extend #thumb-for.crow;
  }

  &.deer .image {
    @extend #thumb-for.deer;
  }

  &.dom-cat .image {
    @extend #thumb-for.dom-cat;
  }

  &.dom-dog .image {
    @extend #thumb-for.dom-dog;
  }

  &.empty .image {
    @extend #thumb-for.empty;
  }

  &.flying-squirrel .image {
    @extend #thumb-for.flying-squirrel;
  }

  &.fox-squirrel .image {
    @extend #thumb-for.fox-squirrel;
  }

  &.grackle .image {
    @extend #thumb-for.grackle;
  }

  &.gray-fox .image {
    @extend #thumb-for.gray-fox;
  }

  &.gray-squirrel .image {
    @extend #thumb-for.gray-squirrel;
  }

  &.great-blue-heron .image {
    @extend #thumb-for.great-blue-heron;
  }

  &.horse .image {
    @extend #thumb-for.horse;
  }

  &.house-sparrow .image {
    @extend #thumb-for.house-sparrow;
  }

  &.human .image {
    @extend #thumb-for.human;
  }

  &.livestock .image {
    @extend #thumb-for.livestock;
  }

  &.mallard .image {
    @extend #thumb-for.mallard;
  }

  &.mink .image {
    @extend #thumb-for.mink;
  }

  &.mourning-dove .image {
    @extend #thumb-for.mourning-dove;
  }

  &.mouse .image {
    @extend #thumb-for.mouse;
  }

  &.mower .image {
    @extend #thumb-for.mower;
  }

  &.muskrat .image {
    @extend #thumb-for.muskrat;
  }

  &.northern-flicker .image {
    @extend #thumb-for.northern-flicker;
  }

  &.opossum .image {
    @extend #thumb-for.opossum;
  }

  &.other-vehicle .image {
    @extend #thumb-for.other-vehicle;
  }

  &.pigeon .image {
    @extend #thumb-for.pigeon;
  }

  &.rabbit .image {
    @extend #thumb-for.rabbit;
  }

  &.raccoon .image {
    @extend #thumb-for.raccoon;
  }

  &.rat .image {
    @extend #thumb-for.rat;
  }

  &.red-fox .image {
    @extend #thumb-for.red-fox;
  }

  &.robin .image {
    @extend #thumb-for.robin;
  }

  &.skunk .image {
    @extend #thumb-for.skunk;
  }

  &.squirrel-cannot-id .image {
    @extend #thumb-for.squirrel-cannot-id;
  }

  &.starling .image {
    @extend #thumb-for.starling;
  }

  &.unknown .image {
    @extend #thumb-for.unknown;
  }

  &.wood-duck .image {
    @extend #thumb-for.wood-duck;
  }

  &.wood-chuck .image {
    @extend #thumb-for.wood-chuck;
  }

  &.melanistic-gray-squirrel .image {
    @extend #thumb-for.melanistic-gray-squirrel;
  }
    
  .description {
    float: left;
    max-width: 300px;

    p {
      margin: 0;

      &.label {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }

  .rump {
    display: inline-block;
    margin: 0;
    text-align: center;
  }
}
