#thumb-for.beaver {background: url(http://placehold.it/100x100?text=beaver); } 
#thumb-for.bike {background: url(http://placehold.it/100x100?text=bike); } 
#thumb-for.car {background: url(http://placehold.it/100x100?text=car); } 
#thumb-for.chipmunk {background: url(http://placehold.it/100x100?text=chipmunk); } 
#thumb-for.coyote {background: url(http://placehold.it/100x100?text=coyote); } 
#thumb-for.deer {background: url(http://placehold.it/100x100?text=deer); } 
#thumb-for.domCat {background: url(http://placehold.it/100x100?text=domCat); } 
#thumb-for.domDog {background: url(http://placehold.it/100x100?text=domDog); } 
#thumb-for.flyingSquirrel {background: url(http://placehold.it/100x100?text=flyingSquirrel); } 
#thumb-for.foxSquirrel {background: url(http://placehold.it/100x100?text=foxSquirrel); } 
#thumb-for.grayFox {background: url(http://placehold.it/100x100?text=grayFox); } 
#thumb-for.graySquirrel {background: url(http://placehold.it/100x100?text=graySquirrel); } 
#thumb-for.horse {background: url(http://placehold.it/100x100?text=horse); } 
#thumb-for.human {background: url(http://placehold.it/100x100?text=human); } 
#thumb-for.livestock {background: url(http://placehold.it/100x100?text=livestock); } 
#thumb-for.mink {background: url(http://placehold.it/100x100?text=mink); } 
#thumb-for.mouse {background: url(http://placehold.it/100x100?text=mouse); } 
#thumb-for.mower {background: url(http://placehold.it/100x100?text=mower); } 
#thumb-for.muskrat {background: url(http://placehold.it/100x100?text=muskrat); } 
#thumb-for.opossum {background: url(http://placehold.it/100x100?text=opossum); } 
#thumb-for.otherVehicle {background: url(http://placehold.it/100x100?text=otherVehicle); } 
#thumb-for.rabbit {background: url(http://placehold.it/100x100?text=rabbit); } 
#thumb-for.raccoon {background: url(http://placehold.it/100x100?text=raccoon); } 
#thumb-for.rat {background: url(http://placehold.it/100x100?text=rat); } 
#thumb-for.redFox {background: url(http://placehold.it/100x100?text=redFox); } 
#thumb-for.skunk {background: url(http://placehold.it/100x100?text=skunk); } 
#thumb-for.squirrelCannotId {background: url(http://placehold.it/100x100?text=squirrelCannotId); } 
#thumb-for.melanisticGraySquirrel {background: url(http://placehold.it/100x100?text=melanisticGraySquirrel); } 

