.animal-details {
  background: $white;
  border-radius: 4px;
  border-width: 75px 5px 5px;
  box-shadow: 0 1px 1px rgba($white, 0.33) inset;
  box-sizing: border-box;
  font-size: 11px;
  height: 100%;
  left: 0;
  opacity: 1;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  transform: scale(1);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  width: 100%;
  z-index: 1;
  color: $dark-grey-font;


  &:focus {
    outline: none;
  }

  &.hidden {
    transform: scale(0.95);
    opacity: 0;
  }

  .image-changer {
    position: relative;

    .images {
      border-bottom: 1px solid $light-grey-bg;
      box-shadow: 0px 1px 1px -1px rgba($white, 0.5);
      overflow: hidden;
      position: relative;

      figure {
        height: 200px;
        margin: 0;
        left: 0;
        position: absolute;
        top: 0;

        &.active {
          position: relative;
          z-index: 1;
        }

        img {
          max-width: 100%;
        }
      }
    }

    .toggles {
      text-align: center;
      z-index: 1;

      button[name="toggle"] {
        @extend #standard-toggle;
      }
    }
  }

  .image-changer-shortcuts {
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
    overflow: hidden;
  }

  .content {
    height: 120px;
    overflow: auto;

    p.label {
      font-size: 16px;
      margin: 10px 0 -10px;
    }

    button[name="confusion"] {
      @extends #standard-button;
      border-radius: 10px;
      padding: 0 5px;
    }
  }

  .options {
    left: 0;
    position: absolute;
    width: 100%;

    .group {
      padding: 5px;

      .title {
        display: inline-block;
        width: 6em;

        [data-language="pl_pl"] &,
        [data-language="fi_fi"] & {
          letter-spacing: -1px;
        }
      }

      &.count,
      &.behavior {
        clearfix();

        label {
          cursor: pointer;

          > input {
            opacity: 0.01;
            position: absolute;
          }

          > .label {
            @extend #standard-button;
            @extend .light-grey-btn;
            padding: 2px 5px;
          }

          > input:checked + .label {
            background: $medium-blue;
            color: $white;
          }
        }
      }
    }
  }

  .action {
    bottom: 0;
    font-weight: bold;
    padding: 2px;
    position: absolute;
    right: 0;

    button {
      @extend .classifier-action-button;

      &[name="cancel"] {
        color: $white;
        background: $red;
        text-transform: none;
        width: 70px;
        letter-spacing: 0px;
      }

      &[name="identify"] {
        color: $white;
        background: $medium-blue;
      }
    }
  }
}

.confusion-popup {
  clearfix();
  background: $black;
  border: 2px solid $gold;
  border-radius: 5px;
  box-shadow: 0 3px 3px -3px $black;
  color: $white;
  font-size: 11px;
  padding: 15px;
  position: absolute;
  z-index: 1;

  &:after {
    border: 10px solid transparent;
    border-top-color: $gold;
    content: "";
    left: 50%;
    margin-left: -10px;
    position: absolute;
    top: 100%;
  }

  button[name="close"] {
    height: 1em;
    position: absolute;
    right: 0;
    top: 0;
    width: 1em;
  }

  .image {
    margin-right: 10px;
    height: 68px;
    float: left;
    width: 68px;
  }

  &.beaver .image {
    @extend #thumb-for.beaver;
  }
  &.bike .image {
    @extend #thumb-for.bike;
  }
  &.car .image {
    @extend #thumb-for.car;
  }
  &.chipmunk .image {
    @extend #thumb-for.chipmunk;
  }
  &.coyote .image {
    @extend #thumb-for.coyote;
  }
  &.deer .image {
    @extend #thumb-for.deer;
  }
  &.domCat .image {
    @extend #thumb-for.domCat;
  }
  &.domDog .image {
    @extend #thumb-for.domDog;
  }
  &.flyingSquirrel .image {
    @extend #thumb-for.flyingSquirrel;
  }
  &.foxSquirrel .image {
    @extend #thumb-for.foxSquirrel;
  }
  &.grayFox .image {
    @extend #thumb-for.grayFox;
  }
  &.graySquirrel .image {
    @extend #thumb-for.graySquirrel;
  }
  &.horse .image {
    @extend #thumb-for.horse;
  }
  &.human .image {
    @extend #thumb-for.human;
  }
  &.livestock .image {
    @extend #thumb-for.livestock;
  }
  &.mink .image {
    @extend #thumb-for.mink;
  }
  &.mouse .image {
    @extend #thumb-for.mouse;
  }
  &.mower .image {
    @extend #thumb-for.mower;
  }
  &.muskrat .image {
    @extend #thumb-for.muskrat;
  }
  &.opossum .image {
    @extend #thumb-for.opossum;
  }
  &.otherVehicle .image {
    @extend #thumb-for.otherVehicle;
  }
  &.rabbit .image {
    @extend #thumb-for.rabbit;
  }
  &.raccoon .image {
    @extend #thumb-for.raccoon;
  }
  &.rat .image {
    @extend #thumb-for.rat;
  }
  &.redFox .image {
    @extend #thumb-for.redFox;
  }
  &.skunk .image {
    @extend #thumb-for.skunk;
  }
  &.squirrelCannotId .image {
    @extend #thumb-for.squirrelCannotId;
  }
  &.melanisticGraySquirrel .image {
    @extend #thumb-for.melanisticGraySquirrel;
  }

  .description {
    float: left;
    max-width: 300px;

    p {
      margin: 0;

      &.label {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }

  .rump {
    display: inline-block;
    margin: 0;
    text-align: center;
  }
}
