#thumb-for.american-coot {background: url(http://placehold.it/100x100&text=american-coot);} 
#thumb-for.beaver {background: url(http://placehold.it/100x100&text=beaver);} 
#thumb-for.bike {background: url(http://placehold.it/100x100&text=bike);} 
#thumb-for.bird-cannot-id {background: url(http://placehold.it/100x100&text=bird-cannot-id);} 
#thumb-for.canada-goose {background: url(http://placehold.it/100x100&text=canada-goose);} 
#thumb-for.car {background: url(http://placehold.it/100x100&text=car);} 
#thumb-for.cardinal {background: url(http://placehold.it/100x100&text=cardinal);} 
#thumb-for.chickadee {background: url(http://placehold.it/100x100&text=chickadee);} 
#thumb-for.chipmunk {background: url(http://placehold.it/100x100&text=chipmunk);} 
#thumb-for.coyote {background: url(http://placehold.it/100x100&text=coyote);} 
#thumb-for.crow {background: url(http://placehold.it/100x100&text=crow);} 
#thumb-for.deer {background: url(http://placehold.it/100x100&text=deer);} 
#thumb-for.dom-cat {background: url(http://placehold.it/100x100&text=dom-cat);} 
#thumb-for.dom-dog {background: url(http://placehold.it/100x100&text=dom-dog);} 
#thumb-for.empty {background: url(http://placehold.it/100x100&text=empty);} 
#thumb-for.flying-squirrel {background: url(http://placehold.it/100x100&text=flying-squirrel);} 
#thumb-for.fox-squirrel {background: url(http://placehold.it/100x100&text=fox-squirrel);} 
#thumb-for.grackle {background: url(http://placehold.it/100x100&text=grackle);} 
#thumb-for.gray-fox {background: url(http://placehold.it/100x100&text=gray-fox);} 
#thumb-for.gray-squirrel {background: url(http://placehold.it/100x100&text=gray-squirrel);} 
#thumb-for.great-blue-heron {background: url(http://placehold.it/100x100&text=great-blue-heron);} 
#thumb-for.horse {background: url(http://placehold.it/100x100&text=horse);} 
#thumb-for.house-sparrow {background: url(http://placehold.it/100x100&text=house-sparrow);} 
#thumb-for.human {background: url(http://placehold.it/100x100&text=human);} 
#thumb-for.livestock {background: url(http://placehold.it/100x100&text=livestock);} 
#thumb-for.mallard {background: url(http://placehold.it/100x100&text=mallard);} 
#thumb-for.mink {background: url(http://placehold.it/100x100&text=mink);} 
#thumb-for.mourning-dove {background: url(http://placehold.it/100x100&text=mourning-dove);} 
#thumb-for.mouse {background: url(http://placehold.it/100x100&text=mouse);} 
#thumb-for.mower {background: url(http://placehold.it/100x100&text=mower);} 
#thumb-for.muskrat {background: url(http://placehold.it/100x100&text=muskrat);} 
#thumb-for.northern-flicker {background: url(http://placehold.it/100x100&text=northern-flicker);} 
#thumb-for.opossum {background: url(http://placehold.it/100x100&text=opossum);} 
#thumb-for.other-vehicle {background: url(http://placehold.it/100x100&text=other-vehicle);} 
#thumb-for.pigeon {background: url(http://placehold.it/100x100&text=pigeon);} 
#thumb-for.rabbit {background: url(http://placehold.it/100x100&text=rabbit);} 
#thumb-for.raccoon {background: url(http://placehold.it/100x100&text=raccoon);} 
#thumb-for.rat {background: url(http://placehold.it/100x100&text=rat);} 
#thumb-for.red-fox {background: url(http://placehold.it/100x100&text=red-fox);} 
#thumb-for.robin {background: url(http://placehold.it/100x100&text=robin);} 
#thumb-for.skunk {background: url(http://placehold.it/100x100&text=skunk);} 
#thumb-for.squirrel-cannot-id {background: url(http://placehold.it/100x100&text=squirrel-cannot-id);} 
#thumb-for.starling {background: url(http://placehold.it/100x100&text=starling);} 
#thumb-for.unknown {background: url(http://placehold.it/100x100&text=unknown);} 
#thumb-for.wood-duck {background: url(http://placehold.it/100x100&text=wood-duck);} 
#thumb-for.wood-chuck {background: url(http://placehold.it/100x100&text=wood-chuck);} 
#thumb-for.melanistic-gray-squirrel {background: url(http://placehold.it/100x100&text=melanistic-gray-squirrel);} 