#thumb-for.beaver {background: url(http://placehold.it/100x100?text=beaver); } 
#thumb-for.bike {background: url(http://placehold.it/100x100?text=bike); } 
#thumb-for.car {background: url(http://placehold.it/100x100?text=car); } 
#thumb-for.chipmunk {background: url(http://placehold.it/100x100?text=chipmunk); } 
#thumb-for.coyote {background: url(http://placehold.it/100x100?text=coyote); } 
#thumb-for.deer {background: url(http://placehold.it/100x100?text=deer); } 
#thumb-for.dom-cat {background: url(http://placehold.it/100x100?text=dom-cat); } 
#thumb-for.dom-dog {background: url(http://placehold.it/100x100?text=dom-dog); } 
#thumb-for.flying-squirrel {background: url(http://placehold.it/100x100?text=flying-squirrel); } 
#thumb-for.fox-squirrel {background: url(http://placehold.it/100x100?text=fox-squirrel); } 
#thumb-for.gray-fox {background: url(http://placehold.it/100x100?text=gray-fox); } 
#thumb-for.gray-squirrel {background: url(http://placehold.it/100x100?text=gray-squirrel); } 
#thumb-for.horse {background: url(http://placehold.it/100x100?text=horse); } 
#thumb-for.human {background: url(http://placehold.it/100x100?text=human); } 
#thumb-for.livestock {background: url(http://placehold.it/100x100?text=livestock); } 
#thumb-for.mink {background: url(http://placehold.it/100x100?text=mink); } 
#thumb-for.mouse {background: url(http://placehold.it/100x100?text=mouse); } 
#thumb-for.mower {background: url(http://placehold.it/100x100?text=mower); } 
#thumb-for.muskrat {background: url(http://placehold.it/100x100?text=muskrat); } 
#thumb-for.opossum {background: url(http://placehold.it/100x100?text=opossum); } 
#thumb-for.other-vehicle {background: url(http://placehold.it/100x100?text=other-vehicle); } 
#thumb-for.rabbit {background: url(http://placehold.it/100x100?text=rabbit); } 
#thumb-for.raccoon {background: url(http://placehold.it/100x100?text=raccoon); } 
#thumb-for.rat {background: url(http://placehold.it/100x100?text=rat); } 
#thumb-for.red-fox {background: url(http://placehold.it/100x100?text=red-fox); } 
#thumb-for.skunk {background: url(http://placehold.it/100x100?text=skunk); } 
#thumb-for.squirrel-cannot-id {background: url(http://placehold.it/100x100?text=squirrel-cannot-id); } 
#thumb-for.melanistic-gray-squirrel {background: url(http://placehold.it/100x100?text=melanistic-gray-squirrel); } 

