.classifier {
  clearfix();
  margin: 30px auto 100px auto;
  width: 1000px;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 10px 20px -10px $dark-grey-font;

  @media screen and (max-width: 1000px) {
    width: 580px;
    .animal-selector {
      width: 100%;
    }
    .subject-viewer {
      width: 100%;
      text-align: center;
    }
  }

  @media screen and (max-width: 680px) {
    width: 100%;
    padding: 0;
    margin: 0;
    .subject-viewer {
      .images .subject-image {
        width: 100%;
        margin: 0;
      }
      .followup {
        span.social.group, span.continue.group {
          margin-bottom: 10px;
          width 100%;
          float: none;
        }
      }
      .controls .finished {
        float: none;
      }
      .animal-selector .selection-area .items[data-items="10"] [data-animal] .image {
        display: none;
      }
    }
  }
}
