.classifier
  clearfix();
  margin: 30px auto 100px auto;
  width: 1000px;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 10px 20px -10px $dark-grey-font;
  min-height: 490px;
  position: relative;

  @media $classifier-vertical-stack-breakpoint
    width: 580px;
    .animal-selector
      width: 100%;
    .subject-viewer
      width: 100%;
      text-align: center;

  @media $classifier-full-width-breakpoint
    width: 100%;
    padding: 0 0 100px 0;
    margin: 0;
    .subject-viewer
      .images .subject-image
        width: 100%;
        margin: 0;
      .followup
        span.social.group
          display: none;
    .animal-selector .selection-area .items[data-items="10"] [data-animal] .image
      display: none;

 .classifier-help-link
   HEIGHT = 23px

   border: 2px solid $medium-blue
   text-decoration: none
   line-height: HEIGHT
   border-radius: HEIGHT
   font-size: 12px
   color: $medium-grey-font !important // override font color
   position: absolute
   bottom: -50px // anchor below the classifier
   left: 0px
   overflow: auto
   padding: 2px 15px 2px 2px

   .classifier-help-icon
     background: $medium-blue
     margin-right: 10px
     color: $white
     border-radius: 50%
     width: HEIGHT
     line-height: HEIGHT
     box-sizing: border-box
     text-align: center
     display: inline-block


    @media $classifier-vertical-stack-breakpoint
      display: none