.filter-page
  max-width: 900px;
  margin: 100px auto;
  min-height: 400px;
  text-align: center;
  color: $dark-grey-font;
  padding: 5px;
  h1
    color: #fff;
    font-size: 35px;
  p
    margin-top: 30px;
    line-height: 1.5em;
  button
    height: 80px;
    color: #fff;
    padding: 0 30px;
    border-radius: 6px;
    margin: 0 5px;
    width: 80px;
    transition: all .5s
    &[name='filtered']
      background: $medium-blue;
    &[name='unfiltered']
      background: $medium-blue;
    &.not-clicked-dim
      opacity: .2;
    &:hover
      opacity: 0.9;
    &:active
      position relative
      top 1px

