html
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  min-height: 100%;
  overflow-y: scroll;

  body
    background-color: $light-blue;
    margin: 0;
    height: 100%;
    padding: 0;
    position: relative;
    -webkit-font-smoothing: antialiased;

    > h1
      color: $white;
      font: normal 30px Georgia, serif;
      letter-spacing: 10px
      margin: 30px 0 15px;
      position: relative;
      text-align: center;
      text-shadow: 0 2px 3px $black;
      text-transform: uppercase;
      z-index: 1;

      a
        color: inherit;
        text-decoration: none;

        img
          border: 0;

    > nav
      background: white;
      bottom: 0;
      font-size: 14px;
      font-weight: bold;
      margin: 0;
      padding: 25px 0 25px 50px;
      overflow: hidden;
      z-index: 3;
      position: relative;
      @media $desktop-or-smaller
        text-align: center;
        padding: 75px 0 35px 0;
      @media $phone-or-smaller
        padding-top: 50px;


      #site-title
        width: 200px;
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
        margin-right: 40px;
        @media $desktop-or-smaller
          margin: 0 auto;
          display: block;

      ul
        margin: 0;
        padding: 0;
        img
          cursor: pointer;
          &#hamburger-icon
            width: 22px;
            position: absolute;
            left: 10px;
            display: inline-block;
            margin: -20px; // increase hamburger icon
            padding: 20px; // target size for touch screens
            @media $phone-or-larger
              display: none;
          &#day-mode
            display: none;
          &.dark-mode-toggle
            width: 13px;
            position: absolute;
            right: 5px;
            top: 35px;

        li
          width: 90px;
          margin-right: 5px;
          a
            border: 2px solid transparent;
            border-radius: 125px;
            color: $medium-blue;
            display: block;
            opacity: 0.75;
            padding: 5px 0;
            text-align: center;
            text-decoration: none;
            width: 100%;
            &:hover,
            &.active
              border-color: $light-blue
          @media $phone-or-smaller
            display: none;
            width: 100%;
            height: 40px;
            a
              &.active, &:hover
                border-radius: 0;
                background-color: $light-blue;
          @media $phone-or-larger
            display: inline-block !important

    .main
      z-index: 1;
      height 100%

      > *
        display: none;

        &.active
          display: block;

      a
        color: inherit;

      hr
        height: 0;
        border: 1px solid transparent;
        border-top-color: rgba($black, 0.5);
        border-bottom-color: rgba($white, 0.25);

  @media screen and (max-width: 1250px)
    .zooniverse-top-bar
      .zooniverse-info.piece span
        display: none

  @media $phone-or-smaller
    .zooniverse-top-bar
      background-color: $white;
      color: $dark-grey-font;
      .corner svg
        display none
      .zooniverse-info
        display none

  .site-footer
    background-color: darken($medium-blue, 10%);

    .zooniverse-footer
      color: white;
      margin: 0 auto;
      padding: 50px 0 25px 0;
      max-width: 64em;
      .zooniverse-logo-container
        display: block;
        width: 100%;
        text-align: center;
        .zooniverse-logo
          width: 90px;
          margin-bottom: 30px;
          fill: $light-blue;

      .zooniverse-footer-content
        float: none;
        width: 100%;

      .zooniverse-footer-heading
        wrap(720px);
        text-align: center;
        font-size: 16px;
        line-height: 1.5em;
        margin-bottom: 20px;

      .zooniverse-footer-projects a
        color: #ddd;

      .zooniverse-footer-category
        @media $desktop-or-smaller
          width: 50%;
          text-align: center;
          margin-bottom: 20px;
          .zooniverse-footer-category-title
            margin-bottom: 5px;
        @media $phone-or-smaller
          width: 100%;
  ::selection
    color #fff
    background $gold
  ::-moz-selection
    color #fff
    background $gold
