@import '../node_modules/nib/index';
@import 'common';

@import '../node_modules/t7e/src/t7e';

/*  Deleted after upgrade to zooniverse
-    "zooniverse": "zooniverse/Zooniverse#98ffd4b",
+    "zooniverse": "~0.6.4"
@import '../node_modules/zooniverse/css/browser_check';
 
@import '../node_modules/zooniverse/css/dialog_defaults';
@import '../node_modules/zooniverse/css/login_dialog';

these should work but don't
@import '../node_modules/zooniverse/css/top-bar';

@import '../node_modules/zooniverse/css/dialog';
 */
/*don't know if this is needed @import '../node_modules/zootorial/src/css/zootorial'; */
@import 'icons';
@import 'button_reset';
@import 'animal_thumbs';

@import 'subject_viewer';
@import 'animal_selector';
@import 'animal_details';
@import 'content_page';
@import 'layout';
@import 'language_picker';
@import 'home_page';
@import 'about_page';
@import 'classifier';
@import 'tutorial';
@import 'profile';
@import 'explore';
@import 'map';
