#notifier
  centerFixed(720)
  display: none;
  overflow: auto;
  top: 80px;
  left: 50%;
  position: absolute;
  background-color: #9db12c;
  color: $dark-grey-font;
  text-align: center;
  z-index: 2;
  border-radius: 0 0 5px 5px;
  padding: 15px 0;
  box-shadow: 0 10px 20px -10px $dark-grey-font;
  border-top: 2px solid $light-grey-bg

  @media $tablet-or-smaller
    centerfixed(540)

  @media $phone-or-smaller
    centerFixed(300)

  .notifier-content
    margin-top: 0px;
    overflow: auto;
    display: block;

  img
    position: absolute;
    padding: 5px;
    top: 0px;
    right: 0px;
    cursor: pointer;

  .action-button
    margin-top: 20px;
    height: 40px;
    padding: 0 30px;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 40px;
    background-color: $medium-blue;
    color: #fff;
    text-transform: uppercase
    border-radius: 5px;
    &:hover
      background-color: lighten($medium-blue, 10%)
