.subject-viewer {
  display: inline-block;
  float: left;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    // For now, so Miller doesn't kill me.
    // TODO: Make it clear that this is in focus.
    outline: 0;
  }

  .images {
    position: relative;

    .subject-image {
      border: 5px solid $white;
      box-sizing: border-box;
      left: 0;
      margin: 0;
      overflow: hidden;
      top: 0;
      width: 580px;

      img {
        display: block;
        width: 100%;
      }
    }

    .annotations {
      color: $white;
      font-size: 12px;
      font-weight: 300;
      position: relative;
      width: unit($subject-width, 'px')
      left: 10px;
      z-index: 1;
      overflow: auto;

      .annotation-item {
        transition: background 0.2s;
        border-radius: 20px;
        display: inline-block;
        float: left;
        margin: 2px;
        background: $medium-blue;
        padding: 1px 5px 1px 10px;

        &.new {
          background: $gold;
        }

        &:hover {
          transition: none;
          background: $red;
          cursor: default;
        }

        button[name="delete"] {
          border-radius: 50%;
          height: 1em;
          line-height: 1em;
          text-align: center;
          width: 1em;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .extra-message {
      background: rgba($black, 0.75);
      bottom: 5px;
      color: $white;
      display: none;
      font-size: 12px;
      font-weight: bold;
      left: 5px;
      padding: 10px;
      position: absolute;
      right: 5px;
      text-align: center;
      text-shadow: 0 1px 1px $black;
      z-index: 1;
    }

    .sign-in,
    .favorite {
      background: $light-blue;
      color: $red;
      font-size: 12px;
      font-weight: bold;
      position: absolute;
      transition: padding 0.25s ease-out;
      z-index: 1;

      > button {
        position: relative;
        z-index: 1;
      }
    }

    .favorite {
      font-size: 16px;
      padding: 5px 5px 0;
      right: 20px;
      top: -3px;

      &:hover {
        padding-top: 10px;
      }

      &:before,
      &:after {
        border: 15px solid transparent;
        content: "";
        position: absolute;
        bottom: -15px;
      }

      &:before {
        border-left-color: $light-blue;
        left: 0;
      }

      &:after {
        border-right-color: $light-blue;
        right: 0;
      }

      button[name="favorite"] {
        &.favorited {
          color: $red
        }
      }
    }
  }

  .controls,
  .followup {
    color: darken($brown, 67%);
    font-size: 14px;
    margin: 15px 0 4px;
    overflow: auto;
    position: relative;
    text-shadow: 0 1px 0 rgba($white, 0.25);
  }

  .controls {

    .finished {
      float: right;

      .nothing-label {
        cursor: pointer;
        display: none;
        font-size: 12px;
        font-weight: bold;
        color: $dark-grey-font;
        margin-right: 10px;
      }

      button {
        @extend .classifier-action-button
      }
    }
  }

  .followup {
    display: none;

    button[name="not-done"] {
      background: rgba($black, 0.5);
      border-radius: 15px;
      color: $white;
      font-size: 10px;
      margin-right: 10px;
      padding: 0 10px;
      text-shadow: none;
    }

    .group {
      display: inline-block;
      margin: 0 5px;
      position: relative;

      &.continue {
        float: right;
      }

      a,
      button {
        @extend #standard-button;
        padding-left: 32px;
        padding-right 10px;
        color: $dark-grey-font;
        background: $light-grey-bg;
        font-size: 12px;
        line-height: 25px;
        border-radius: 4px;
        i {
          left: 0;
          height: 25px;
          line-height: 25px;
          position: absolute;
          top: 3px;
          width: 30px;
        }
      }

      button[name="next"] {
        color: $white;
        background: $medium-blue
        padding: 3px 10px 3px 32px;
        text-transform: uppercase;
        letter-spacing: 1px;
        &:active {
          background: lighten($medium-blue, 5%);
        }
      }
    }
  }

  &.zoomed .images figure {
    cursor: -moz-grab;

    img {
      position: absolute;
      width: 1200px;
    }
  }

  &.dragging .images figure {
    cursor: -moz-grabbing;
  }

  &.no-annotations .controls .finished .nothing-label {
    display: inline-block;
  }

  &.finished {
    .images .extra-message {
      display: block;
    }

    .controls {
      display: none;
    }

    .followup {
      display: block;
    }
  }
}

.signed-in .subject-viewer .images {
 
  .favorite {
    display: inline;
  }
}
