.profile
  .zooniverse-profile
    color: $medium-grey-font;
    background-color: $white;
    padding: 0 5vw;
    min-height: 400px;
    .loader
      z-index: 100;
      top: 70px;

  nav, .favorites, .favorites-empty, .recents, .recents-empty
    max-width: 1090px;
    margin: 0 auto;

  nav
    button[name='turn-page']
      color $medium-grey-font;
      background-color $white;
      font-weight: 300;
      padding: 0 10px;
      height: 60px;
      border-radius: 0px;
      text-decoration: none;
      box-shadow: none;
      text-shadow: none;
      &.active
        color: $white;
        background-color: $red;

  .sign-in-form
    padding: 25px
    @media screen and (max-width: 500px)
      width 80%;
    .action
      margin-top: 0px;
      button[type='submit']
        @extend #standard-button
        background-color: $medium-blue;
        color: $white;
        height: 60px;
        width: 120px;
        border-radius: 5px;
        box-shadow: none;
    input
      border-radius: 0px;
      box-shadow: none;
      outline: 4px solid $light-grey-bg;
      &:focus
        outline: 4px solid $medium-blue;
        outline-offset: 0;