/*Generated css by animal-parser.rb for manual integration*/
/* thumnail css is integrated into css/animal_thumbs.styl */
        #thumb-for.beaver {
          background: url(http://placehold.it/100x100?text=beaver); 
        }
        #thumb-for.bike {
          background: url(http://placehold.it/100x100?text=bike); 
        }
        #thumb-for.car {
          background: url(http://placehold.it/100x100?text=car); 
        }
        #thumb-for.domCat {
          background: url(http://placehold.it/100x100?text=domCat); 
        }
        #thumb-for.chipmunk {
          background: url(http://placehold.it/100x100?text=chipmunk); 
        }
        #thumb-for.coyote {
          background: url(http://placehold.it/100x100?text=coyote); 
        }
        #thumb-for.deer {
          background: url(http://placehold.it/100x100?text=deer); 
        }
        #thumb-for.domDog {
          background: url(http://placehold.it/100x100?text=domDog); 
        }
        #thumb-for.grayFox {
          background: url(http://placehold.it/100x100?text=grayFox); 
        }
        #thumb-for.redFox {
          background: url(http://placehold.it/100x100?text=redFox); 
        }
        #thumb-for.horse {
          background: url(http://placehold.it/100x100?text=horse); 
        }
        #thumb-for.human {
          background: url(http://placehold.it/100x100?text=human); 
        }
        #thumb-for.livestock {
          background: url(http://placehold.it/100x100?text=livestock); 
        }
        #thumb-for.mink {
          background: url(http://placehold.it/100x100?text=mink); 
        }
        #thumb-for.mouse {
          background: url(http://placehold.it/100x100?text=mouse); 
        }
        #thumb-for.mower {
          background: url(http://placehold.it/100x100?text=mower); 
        }
        #thumb-for.muskrat {
          background: url(http://placehold.it/100x100?text=muskrat); 
        }
        #thumb-for.opossum {
          background: url(http://placehold.it/100x100?text=opossum); 
        }
        #thumb-for.otherVehicle {
          background: url(http://placehold.it/100x100?text=otherVehicle); 
        }
        #thumb-for.rabbit {
          background: url(http://placehold.it/100x100?text=rabbit); 
        }
        #thumb-for.raccoon {
          background: url(http://placehold.it/100x100?text=raccoon); 
        }
        #thumb-for.rat {
          background: url(http://placehold.it/100x100?text=rat); 
        }
        #thumb-for.skunk {
          background: url(http://placehold.it/100x100?text=skunk); 
        }
        #thumb-for.flyingSquirrel {
          background: url(http://placehold.it/100x100?text=flyingSquirrel); 
        }
        #thumb-for.foxSquirrel {
          background: url(http://placehold.it/100x100?text=foxSquirrel); 
        }
        #thumb-for.graySquirrel {
          background: url(http://placehold.it/100x100?text=graySquirrel); 
        }
        #thumb-for.melanisticGraySquirrel {
          background: url(http://placehold.it/100x100?text=melanisticGraySquirrel); 
        }
        #thumb-for.woodChuck {
          background: url(http://placehold.it/100x100?text=woodChuck); 
        }

/* animal image  css is integrated into css/animal_details.styl */
        &.beaver .image {
          @extend #thumb-for.beaver;
        }
        &.bike .image {
          @extend #thumb-for.bike;
        }
        &.car .image {
          @extend #thumb-for.car;
        }
        &.domCat .image {
          @extend #thumb-for.domCat;
        }
        &.chipmunk .image {
          @extend #thumb-for.chipmunk;
        }
        &.coyote .image {
          @extend #thumb-for.coyote;
        }
        &.deer .image {
          @extend #thumb-for.deer;
        }
        &.domDog .image {
          @extend #thumb-for.domDog;
        }
        &.grayFox .image {
          @extend #thumb-for.grayFox;
        }
        &.redFox .image {
          @extend #thumb-for.redFox;
        }
        &.horse .image {
          @extend #thumb-for.horse;
        }
        &.human .image {
          @extend #thumb-for.human;
        }
        &.livestock .image {
          @extend #thumb-for.livestock;
        }
        &.mink .image {
          @extend #thumb-for.mink;
        }
        &.mouse .image {
          @extend #thumb-for.mouse;
        }
        &.mower .image {
          @extend #thumb-for.mower;
        }
        &.muskrat .image {
          @extend #thumb-for.muskrat;
        }
        &.opossum .image {
          @extend #thumb-for.opossum;
        }
        &.otherVehicle .image {
          @extend #thumb-for.otherVehicle;
        }
        &.rabbit .image {
          @extend #thumb-for.rabbit;
        }
        &.raccoon .image {
          @extend #thumb-for.raccoon;
        }
        &.rat .image {
          @extend #thumb-for.rat;
        }
        &.skunk .image {
          @extend #thumb-for.skunk;
        }
        &.flyingSquirrel .image {
          @extend #thumb-for.flyingSquirrel;
        }
        &.foxSquirrel .image {
          @extend #thumb-for.foxSquirrel;
        }
        &.graySquirrel .image {
          @extend #thumb-for.graySquirrel;
        }
        &.melanisticGraySquirrel .image {
          @extend #thumb-for.melanisticGraySquirrel;
        }
        &.woodChuck .image {
          @extend #thumb-for.woodChuck;
        }

/* data-animal css is integrated into css/animal_selector.styl */
      [data-animal="beaver"] .image {
        @extend #thumb-for.beaver;
      }
      [data-animal="bike"] .image {
        @extend #thumb-for.bike;
      }
      [data-animal="car"] .image {
        @extend #thumb-for.car;
      }
      [data-animal="domCat"] .image {
        @extend #thumb-for.domCat;
      }
      [data-animal="chipmunk"] .image {
        @extend #thumb-for.chipmunk;
      }
      [data-animal="coyote"] .image {
        @extend #thumb-for.coyote;
      }
      [data-animal="deer"] .image {
        @extend #thumb-for.deer;
      }
      [data-animal="domDog"] .image {
        @extend #thumb-for.domDog;
      }
      [data-animal="grayFox"] .image {
        @extend #thumb-for.grayFox;
      }
      [data-animal="redFox"] .image {
        @extend #thumb-for.redFox;
      }
      [data-animal="horse"] .image {
        @extend #thumb-for.horse;
      }
      [data-animal="human"] .image {
        @extend #thumb-for.human;
      }
      [data-animal="livestock"] .image {
        @extend #thumb-for.livestock;
      }
      [data-animal="mink"] .image {
        @extend #thumb-for.mink;
      }
      [data-animal="mouse"] .image {
        @extend #thumb-for.mouse;
      }
      [data-animal="mower"] .image {
        @extend #thumb-for.mower;
      }
      [data-animal="muskrat"] .image {
        @extend #thumb-for.muskrat;
      }
      [data-animal="opossum"] .image {
        @extend #thumb-for.opossum;
      }
      [data-animal="otherVehicle"] .image {
        @extend #thumb-for.otherVehicle;
      }
      [data-animal="rabbit"] .image {
        @extend #thumb-for.rabbit;
      }
      [data-animal="raccoon"] .image {
        @extend #thumb-for.raccoon;
      }
      [data-animal="rat"] .image {
        @extend #thumb-for.rat;
      }
      [data-animal="skunk"] .image {
        @extend #thumb-for.skunk;
      }
      [data-animal="flyingSquirrel"] .image {
        @extend #thumb-for.flyingSquirrel;
      }
      [data-animal="foxSquirrel"] .image {
        @extend #thumb-for.foxSquirrel;
      }
      [data-animal="graySquirrel"] .image {
        @extend #thumb-for.graySquirrel;
      }
      [data-animal="melanisticGraySquirrel"] .image {
        @extend #thumb-for.melanisticGraySquirrel;
      }
      [data-animal="woodChuck"] .image {
        @extend #thumb-for.woodChuck;
      }
